.general-row, .general-column {
  display: flex;
  width: 50%;
  min-width: 600px;
  justify-content: flex-end;
  align-items: center;
}

.general-label {
  width: 50%;
  min-width: 200px;
}

.general-value {
  width: 50%;
  min-width: 200px;
}
